/*
    COLORS:
    brownish -- #e2c39e,
    gold -- #d4b22f,
    dark-gray -- #35333c,
    green -- green,
    red -- red
*/

body {
    font-size: 14pt;
    font-family: sans-serif;
    margin: 1em;
}

h1 {
    text-align: center;
}

input {
    font-size: 2em;
    text-align: right;
}

button {
    font-size: 1.4em;
    padding: 0.25em
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 1em;
}

li {
    line-height: 2em;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 12em;
    z-index: 1;
    background-color: #e2c39e;
    -ms-transform: translateX(-12em);
    -webkit-transform: translateX(-12em);
    transform: translateX(-12em);
    transition: -ms-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.show-side-menu {
    transform: translateX(0);
}

#side-menu-toggle {
    position: absolute;
    top: 0;
    right: -2em;
    height: 2em;
    width: 2em;
    background-color: #e2c39e;
}

#side-menu-toggle img {
    width: 80%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -ms-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.show-side-menu #side-menu-toggle img {
    transform: rotate(180deg);
}

#metronome {
    width: 11em;
    padding: 1.5em;
    margin: 0 auto;
    border-radius: 1em;
    background-color: #35333c;
    color: #d4b22f;
}

/* Introduced so input element doesn't shift */
#input-container {
    width: 100%;
}

#bpm {
    width: 60%;
    float: left;
}

#tempo-tap-target {
    float: right;
    background-color: #f3f3f3;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    font-size: 2em;
}

#start-stop-buttons,
#subdivide-mute-buttons {
    width: 85%;
    margin: 0 auto;
    margin-top: 1.5em;
}

#start-button {
    color: green;
}

#stop-button {
    float: right;
    color: red;
}

#subdivide-button {
    font-size: 1em;
    float: left;
}

.mute-button {
    float: right;
    /* https://commons.wikimedia.org/wiki/File:Speaker_Icon.svg */
    background-image: url(../images/Speaker_Icon.svg);
    background-size: 100%;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.muted {
    /* https://commons.wikimedia.org/wiki/File:Mute_Icon.svg */
    background-image: url(../images/Mute_Icon.svg);
}

#subdivide-mute-buttons:after,
#input-container:after {
    clear: both;
    content: "";
    display: table;
}

#beat-bubbles {
    margin-top: 1.5em;
}

.hide-beats {
    display: none;
}

.visualbeat {
    height: 1em;
    width: 1em;
    display: inline-block;
    margin: 0.25em;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.show {
    background-color: red;
}

#beat-options {
    margin-top: 1.5em;
    line-height: 2em;
}
