/*
    COLORS:
    brownish -- #e2c39e,
    gold -- #d4b22f,
    dark-gray -- #35333c,
    green -- green,
    red -- red
*/

/* https://css-tricks.com/box-sizing/ */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 12pt;
    font-family: sans-serif;
    margin: 1em;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 0 0 1em;
}

input {
    font-size: 2em;
    text-align: right;
}

button {
    font-size: 1.4em;
    padding: 0.25em;
    /**
        We remove Safari's rounded protruding corners because they
        increase button size so that buttons won't fit on the same
        line.  We lose a bit of formatting in the process.  As a
        minimum, we set button coloring to the Chrome default.
    */
    -webkit-appearance: none;
    background-color: rgb(221, 221, 221);
}

ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0.25em;
}

a {
    text-decoration: none;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

/********************** SIDE MENU **********************/

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 13em;
    padding: 1em;
    z-index: 1;
    background-color: #e2c39e;
    -ms-transform: translateX(-13em);
    -webkit-transform: translateX(-13em);
    transform: translateX(-13em);
    transition: -ms-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.show-side-menu {
    transform: translateX(0);
}

#side-menu-toggle {
    position: absolute;
    top: 0;
    right: -2em;
    height: 2em;
    width: 2em;
    background-color: #e2c39e;
}

#side-menu-toggle img {
    width: 80%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -ms-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.show-side-menu #side-menu-toggle img {
    transform: rotate(180deg);
}

.menu-options {
    margin-top: 2em;
}

.menu-option {
    margin-bottom: 1em;
}

.beat-label {
    margin: 0.75em;
    float: left;
}

.beat-label input {
    display: block;
    margin: 0 auto;
    margin-top: 0.25em;
}

#sound-menu li {
    margin: 1em;
}

/************************* METRONOME ***********************/

#metronome {
    width: 14em;
    padding: 2.0em 1.5em;
    margin: 0 auto;
    border-radius: 1em;
    background-color: #35333c;
    color: #d4b22f;
}

#tempo-container {
    width: 11em;
}

#tempo-input {
    width: 60%;
    float: left;
}

#tempo-tap-target {
    float: right;
    background-color: #f3f3f3;
    font-size: 2em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}

#start-stop-buttons,
#subdivide-mute-buttons {
    width: 11em;
    padding: 0 0.825em;
    margin-top: 1.5em;
}

#start-button {
    color: green;
}

#stop-button {
    float: right;
    color: red;
}

#subdivide-button {
    font-size: 1em;
    float: left;
}

.mute-button {
    float: right;
    /* https://commons.wikimedia.org/wiki/File:Speaker_Icon.svg */
    background-image: url(../images/Speaker_Icon.svg);
    background-size: 100%;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.muted {
    /* https://commons.wikimedia.org/wiki/File:Mute_Icon.svg */
    background-image: url(../images/Mute_Icon.svg);
}

#subdivide-mute-buttons:after,
#tempo-container:after,
.menu-option:after {
    clear: both;
    content: "";
    display: table;
}

#beat-bubbles {
    margin-top: 1.5em;
}

.beat-bubble {
    height: 1em;
    width: 1em;
    display: inline-block;
    margin: 0.25em;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

#beat-options {
}

.beat-option {
    padding-top: 1em;
}

/********************** MEDIA QUERIES ***********************/

@media screen and (min-width: 768px) {
    body {
        font-size: 133%; /* 12 -> 16pt */
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 167%; /* 12 -> 20pt */
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 200%; /* 12 -> 24pt */
    }
}
